navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.navbar-toggler-icon {
    width: 20px;
    height: 2px;
    background-color: #333;
    display: block;
    position: relative;
    transition: background-color 0.3s ease;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.navbar-toggler-icon:before {
    top: -6px;
}

.navbar-toggler-icon:after {
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
}

.social-icons a:hover {
    color: #ccc;
}

.bg-light {
    background-color: #ff8f8f !important;
}

.search-container {

    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    margin-right: 5px;
    width: 500px;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



.search-button {
    padding: 8px 16px;
    background-color: #ef9c9ccc;
    color: white;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: pink;
    color: #fff;
}

#scrollToTopBtn:hover {
    background-color: #ff87b3;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clothing-item {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 50px 10px;
}


.clothing-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.clothing-item p {
    margin-top: 5px;
    font-size: 14px;
}

.clothing-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.clothing-item .buy-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #FF69B4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.contenedor {
    display: flex;
    justify-content: center;

}

.contbus {margin-top:65px;
    background-image: url(../imagenes/rosa.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

/* Estilos de las secciones */
.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

/* Estilos de los ítems */
.item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}



.section {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ef9c9ccc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos de los ítems */
.item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

/* Estilos de la lista de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff69b4;
}

.carousel {
    margin: 20px 0px;
}


.cart-section {
    display: flex;
    margin: 10px;
    align-items: center;
    margin-top: 50px;
    border: solid 1px black;
    margin-bottom: 10px;

}

.product-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product-item img {

    margin-right: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.add-button,
.remove-button {
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    background-color: #1877f2;
    color: #fff;
    cursor: pointer;
}

.add-button:hover,
.remove-button:hover {
    background-color: #125699;
}


.imgCarrito {
    max-width: 150px;
    height: auto;
}

.cart-section {
    display: block;
}

.quantity-input {
    width: 40px;
    height: 20px;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



.remove-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilos CSS para la tabla del carrito */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



.remove-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.product-description {
    max-width: 600px;
}


form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}



#checkout-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    max-width: 460px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #3d2222;
}

input[type="text"],
textarea {
    width: 400px;
    height: 38px;
  color: #333;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

button {
    background-color: #ff5c8a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3a6d;
}


.resultadosBusqueda {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b61063;


}





.number-input .decrement {
    background-color: red;
    color: white;
    padding: 5px 20px;
}

.number-input .increment {
    background-color: green;
    color: white;
    padding: 5px 20px;
}

.numbeaumenta {
    width: 50px;
}


.my-swal-container {
    background-color: #ff5c8a;
    color: #333;
    border-radius: 5px;
    padding: 10px;
}

.my-swal-title {
    font-size: 18px;
    font-weight: bold;
    color: #ff5c8a;
}



@media (max-width: 550px) {
    .BuscarBoton {
        margin-bottom: 12px;
    }

    .justi {
        display: flex;

    }

    .buscadorBarra {
        max-width: 290px !important;
    }


}


.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    font-size: 16px;
}

@media (max-width: 550px) {
    .nav-menu {
        flex-wrap: wrap;
    }

    .nav-link {
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 100;
    }


}



.logo-img {


    top: 10px;
    right: 15px;
    max-width: 50px;
}


body {
    overflow-x: hidden;
}


.lgobarra {
    max-width: 150px;
}


.carousel {
    position: relative;
    /* Agregar posición absoluta */
    top: 0;
    left: 0;
    z-index: 1;
    /* Asegurarse de que el carrusel esté debajo del menú */
}




.tit {
    text-align: center;
}

.navTop {
    margin-top: 80px;
}


.clothing-item img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ajusta el valor del z-index según sea necesario */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


.totpagarCar {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.totpagarCar samp {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #ff5c8a;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}



.totpagarCar i {
    margin-right: 10px;
}

.totpagarCar {
    text-align: center;
}

.shopping-bag-icon {
    color: #ff5c8a;
    /* Color rosado en código hexadecimal */
    font-size: 24px;
    /* Tamaño de fuente más grande */
}


.mi-formulario {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.mi-grupo-form {
    margin-bottom: 20px;
}


.my-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 0;
}

.my-label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Inconsolata;
}

.my-input {
    width: 100% !important;
    height: 35px !important;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.my-button {
    padding: 10px 20px;
    background-color: #ff5c8a !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #a51f45 !important;
}

@media (max-width: 768px) {
    .my-form {
        max-width: 100%;
        padding: 0 20px;
    }
}


.carousel-inner {
    transition-duration: 0.2s !important;
    /* Ajusta la duración según tus necesidades */
}





.product-image {
    width: 100%;
    max-width: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {
    font-size: 14px;
    margin-top: 10px;
}

.price {
    font-size: 16px;

    color: green;
    margin-left: 15px;

}

.old-price {
    font-size: 14px;
    color: red;
    text-decoration: line-through;
}

.antPrecio {
    display: flex;
    justify-content: center;
}






.product-image {
    width: 100%;
   max-height: 150px;
   object-fit: cover;
}

.title {
    font-size: 15px;
    margin: 10px;
    text-align: center;


}

.price {
    font-size: 16px;
    margin-top: 0;
    color: green;
}

.old-price {
    font-size: 14px;
    color: red;
    text-decoration: line-through;
}






nav {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

@media (max-width: 710px) {
    nav {
        justify-content: start;
    }
}

ul {
    white-space: nowrap;
    /* Evita el salto de línea */
    display: flex;
    /* Permite el desplazamiento horizontal */
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin-right: 10px;
    /* Espacio entre los elementos */
}

.nav-link {
    text-decoration: none;
    color: #000;
    padding: 5px;
}

@media screen and (max-width: 480px) {
    ul {
        flex-wrap: nowrap;
        /* Asegura que los elementos no se ajusten automáticamente */
    }

    li {
        flex: 0 0 auto;
        /* Permite que los elementos tengan su tamaño original */
    }
}



nav::-webkit-scrollbar {
    display: none;
    /* Oculta las barras de desplazamiento en navegadores webkit */
}

nav {
    scrollbar-width: none;
    /* Oculta las barras de desplazamiento en navegadores Firefox */
}


.pasante {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.product-container {
    width: 150px;
    text-align: center;
    /* Evita el salto de línea */

    /* Permite el desplazamiento horizontal */
    margin-right: 10px;
    /* Espacio entre los elementos del contenedor */
    border: 1px solid #ffffff;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(78, 72, 72, 0.3);

}

@media (max-width: 600px) {
    .pasante::-webkit-scrollbar {
        display: none;
        /* Oculta las barras de desplazamiento en navegadores webkit */
    }

    .pasante {
        scrollbar-width: none;
        /* Oculta las barras de desplazamiento en navegadores Firefox */
    }
}

.antesAhora {
    display: flex;
    justify-content: center;
    align-items: center;
}


.inicio {

    margin: 0;
    margin-right: 30px;
}


.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}


.NoneForm{
    display: none;
}














.btn {
    display: block;
    background: #bded7d;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
}
.btn::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.btn:hover::after {
    /* background: rgba(0, 0, 0, 0.1); */
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}
/*-------------------- Form --------------------*/
.form fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
}
.form fieldset.fieldset-expiration {
    float: left;
    width: 60%;
}
.form fieldset.fieldset-expiration .select {
    width: 84px;
    margin-right: 12px;
    float: left;
}
.form fieldset.fieldset-ccv {
    clear: none;
    float: right;
    width: 86px;
}
.form fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Inconsolata;
}
.form fieldset input, .form fieldset .select {
    width: 100%;
    height: 38px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form fieldset input.input-cart-number, .form fieldset .select.input-cart-number {
    width: 82px;
    display: inline-block;
    margin-right: 8px;
}
.form fieldset input.input-cart-number:last-child, .form fieldset .select.input-cart-number:last-child {
    margin-right: 0;
}
.form fieldset .select {
    position: relative;
}
.form fieldset .select::after {
    content: '';
    border-top: 8px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 10px;
    pointer-events: none;
}
.form fieldset .select select {
    appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none !important;
    top: 6px;
    left: 6px;
    background: none;
}
.form fieldset .select select :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.form button {
    width: 100%;
    outline: none !important;
    background: linear-gradient(180deg, #49a09b, #3d8291);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.form button .fa {
    margin-right: 6px;
}
/*-------------------- Checkout --------------------*/
.checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 600px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
}
/*-------------------- Credit Card --------------------*/
.credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
}
.credit-card-box:hover .flip, .credit-card-box.hover .flip {
    transform: rotateY(180deg);
}
.credit-card-box .front, .credit-card-box .back {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #bd6772, #53223f);
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before, .credit-card-box .back::before {
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
    background-size: cover;
    opacity: 0.05;
}
.credit-card-box .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.credit-card-box .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;
}
.credit-card-box .logo svg {
    width: 100%;
    height: auto;
    fill: #fff;
}
.credit-card-box .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.credit-card-box .back {
    transform: rotateY(180deg);
}
.credit-card-box .back .logo {
    top: 185px;
}
.credit-card-box .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
    border-radius: 8px;
}
.credit-card-box .chip::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid rgba(128, 128, 128, .1);
    width: 80%;
    height: 70%;
    border-radius: 5px;
}
.credit-card-box .strip {
    background: linear-gradient(135deg, #404040, #1a1a1a);
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
}
.credit-card-box .number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
    font-size: 28px;
}
.credit-card-box label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
}
.credit-card-box .card-holder, .credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
}
.credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
}
.credit-card-box .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;
}
.credit-card-box .ccv label {
    margin: -25px 0 14px;
    color: #fff;
}
.the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
}
.the-most img {
    max-width: 100%;
}

.pagoFinal{
       background: linear-gradient(180deg, #49a09b, #3d8291);
}

.imgNavegador{
    display: flex;
    flex-direction: column;
}

.navimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
}

.navitem{
padding-top: 20px;
}

.navimg:hover{
    scale: 1.2;
    transition: 0.5s;

}

.barra{
    display: none;
}

.carousel{
    margin-top: 0px !important;
}